@model MagicTDB.Models.CDModel

<div>
    <h4>CDModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeckId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeckId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeckName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeckName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
