@model IEnumerable<ResisterAndLoginApp.Models.DeckModel>

<p>
    <a asp-action="InputForm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeckName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeckName)
                                        
                </td>
                <td>
                    <a asp-action="ProcessAddCardToDeck" type="@item.Id" value="@item.Id" class="btn btn-success">add card to this deck:@item.Id</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
